<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="severity" value="error"/>

    <module name="TreeWalker">
        <module name="UnusedImports"/>
        <module name="NeedBraces"/>
        <module name="FinalLocalVariable"/>
    	<module name="MethodName">
		<property name="format" value="^[a-z][a-zA-Z0-9]*$"/>
	</module>
    </module>
    <module name="LineLength">
        <property name="max" value="120"/>
        <property name="ignorePattern" value="^package.*|^import.*"/>
    </module>

    <module name="SuppressWarningsFilter"/>

    <module name="UnusedImports">
       <property name="severity" value="error"/>
    </module>

    <module name="JavadocMethod">
       <property name="severity" value="warning"/>
    </module>

</module>

