name: Static Code Analysis

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:

permissions:
  contents: read
  security-events: write

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 17 
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17 
          cache: maven

      - name: Build & Run Analysis
        run: mvn -B clean verify

      - name: Upload SpotBugs SARIF
        if: always()
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "target/spotbugsSarif.json"

      - name: Upload PMD SARIF
        if: always()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: "target/pmd.sarif"

      - name: Upload Checkstyle SARIF
        if: always()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: "target/checkstyle-result.sarif"

