name: PMD Code Scanning

on:
  pull_request:
  push:
    branches: [ main ]

permissions:
  contents: read
  security-events: write

jobs:
  pmd:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Download PMD
        run: |
          curl -L -o pmd.zip \
          https://github.com/pmd/pmd/releases/download/pmd_releases%2F7.0.0/pmd-dist-7.0.0-bin.zip
          unzip pmd.zip

      - name: Run PMD CLI (SARIF)
        run: |
          ./pmd-bin-7.0.0/bin/pmd check \
          -d src/main/java \
          -R category/java/bestpractices.xml \
          -f sarif \
          -r pmd.sarif
        continue-on-error: true

      - name: Upload PMD SARIF
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: pmd.sarif

